<div class="container bg-secondary text-white">

  <table>
    <tr>
      Adicionar Produto
    </tr>
    <tr>
      <td>
        Nome:
      </td>
      <td>
        <input (input)="setProduto($event)"/>
      </td>
    </tr>
    <tr>
      <td>
        Quantidade:
      </td>
      <td>
        <input type="number" value="0" (input)="setQuant($event)"/>
      </td>
    </tr>
    <tr >
      
      <button mat-raised-button color="primary" (click)="addProduct()" style="width: 100%">Adicionar</button>
    </tr>
  </table>
    
  <table>
    <tr>
      <td colspan="5">
        <mat-checkbox [(ngModel)]="mostrarCprds"></mat-checkbox>
        <b>Não mostrar itens já comprados.</b>
      </td>
    </tr>
    @for (item of list; track item.produto)
    {
      @if (!item.comprado || mostrarCprds)
      {
        <tr>
          <td>
            <div style="width: 30px;">
              <mat-checkbox [(ngModel)]="item.comprado" (ngModelChange)="markCheckbox($event, item.produto)"/>
            </div>
          </td>
          <td>
            {{ item.produto }}
          </td>
          <td>
            <div style="width: 30px; align-items: center;">
              {{ item.quantidade }}
            </div>
          </td>
          <td>
            <button mat-raised-button color="accent" (click)="editar(item.produto)">Editar</button>
          </td>
          <td>
            <button mat-raised-button color="warn" (click)="removeProduct(item.produto)">Remover</button>
          </td>
        </tr>
      }
    }
    
    
  </table>
</div>